
.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.skeleton {
  padding: 40px;
  display:flex;
}

.nose{
  padding:10%;
}

.centerAndHalf{
  width: 50%;
  align-self: center;
}

.displayFlex{
  display:flex;
  padding: 10px;
  flex-direction: column
}

.row{
  width: 100%;
}

.textarea {
  height:100%;
  width: 90%;
  padding: 40px;
}